body {
  width: 750px;
  margin: 0 auto;
}

header {
  border-radius: 15px;
  background-color: deepskyblue;
  height: 90px;
  color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  padding-top: 5px;
  width: 700px;
  text-align: center;
}

h2 {
  font-size: 1em;
}

main {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  font-family: 'Courier New', Courier, monospace;
}

hr {
  margin-top: -25px;
  margin-bottom: -15px;
  padding-bottom: 2px;
}

footer {
  border-radius: 17px;
  background-color: deepskyblue;
  height: 55px;
  color: black;
  font-size: 1em;
  text-align: center;
  padding-top: 10px;
}

#myself {
  top: 10px;
  max-width: 150%;
  max-height: 150%;
}

#copyright {
  font-family: 'Courier New', Courier, monospace;
}

#lastUpdate {
  font-size: 1.0em;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 5px;
}