header {
  border-radius: 15px;
  background-color: deepskyblue;
  height: 120px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

hr {
  width: 70%;
  margin-right: 20%;
  margin-top: -15px;
}

footer {
  border-radius: 12px;
  background-color: deepskyblue;
  height: 90px;
  width: 100%;
  color: black;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0px;
}

#lastUpdate {
  font-size: 1.0em;
  font-style: Arial;
  padding-top: 5px;
}