header {
  border-radius: 12px;
  background-color: deepskyblue;
  height: 130px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

hr {
  width: 70%;
  margin-right: 20%;
  margin-top: -15px;
}
footer {
  width: 100%;
  background-color: deepskyblue;
  padding: 60px 0px;
}
#lastUpdate {
  font-size: 0.8em;
  padding-top: 3px;
}