@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

@media only screen and (max-width: 32.5em) {
  article {
    margin: auto;
    width: 85%;
    background-color: #ffffff;
    box-shadow: 1px 1px #888888;
    text-align: left;
  }

  article h2 a:link, a:visited {
    color: #000000;
    text-decoration: none;
  }

  article h2 a:active {
    color: #DEB887;
  }

  article h2 a:hover {
    color: #6495ED;
    text-decoration: underline;
  }

  article img {
    margin: 10px;
    width: 85%;
  }

  article p a:link, a:visited {
    color: #6495ED;
    text-decoration: none;
  }

  article p a:active {
    color: #DEB887;
  }

  article p a:hover {
    text-decoration: underline;
  }

  body {
    background-color: #FAEBD7;
    margin: 0 auto;
  }
  
  header {
    background-color: #6495ED;
    padding-top: 15px;
  }
  
  header h1 {
    color: #FAEBD7;
    font-size: 1.8em;
    font-family: 'Lora', serif;
    float: right;
    margin: 25px;
  }

  header h1 a:link, a:visited{
    color: #FAEBD7;
    text-decoration: none;
  }

  header h1 a:active {
    color: #DEB887
  }

  header h1 a:hover {
    color: #ffffff;
    text-decoration: underline;
  }

  hr {
    width: 80%;
  }
  
  h1 {
    font-size: 1.8em;
  }
  
  h2 {
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;
  }
  
  main {
    background-color: #FAEBD7;
  }

  nav {
    padding-right: 15px;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  
  nav ul {
    text-align: right;
    list-style-type: none;
    padding-left: 250px;
  }

  nav ul li a:link, a:visited {
    color: #FAEBD7;
    text-decoration: none;
  }

  nav ul li a:active {
    color: #DEB887
  }

  nav ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  
  .post-date {
    padding: 5px;
  }

  .post-content {
    margin: 10px;
  }
  
  p {
    font-family: Arial, sans-serif;
    font-size: .8em;
    font-weight: 550;
    color:	#000000;
    padding-bottom: 5px;
  }
  
}

@media only screen and (min-width: 32.5em) {
  article {
    grid-column: 2;
    margin: auto;
    width: 85%;
    background-color: #ffffff;
    box-shadow: 1px 1px #888888;
    text-align: left;
  }

  article h2 a:link, a:visited {
    color: #000000;
    text-decoration: none;
  }

  article h2 a:active {
    color: #DEB887;
  }

  article h2 a:hover {
    color: #6495ED;
    text-decoration: underline;
  }

  article img {
    margin: 10px;
    width: 85%;
  }

  article p a:link, a:visited {
    color: #6495ED;
    text-decoration: none;
  }

  article p a:active {
    color: #DEB887;
  }

  article p a:hover {
    text-decoration: underline;
  }

  body {
    background-color: #FAEBD7;
    margin: 0 auto;
  }

  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  header {
    background-color: #6495ED;
    padding-top: 15px;
  }
  
  header h1 {
    color: #FAEBD7;
    font-size: 1.8em;
    font-family: 'Lora', serif;
    float: right;
    margin: 25px;
  }

  header h1 a:link, a:visited{
    color: #FAEBD7;
    text-decoration: none;
  }

  header h1 a:active {
    color: #DEB887
  }

  header h1 a:hover {
    color: #ffffff;
    text-decoration: underline;
  }

  hr {
    width: 80%;
  }
  
  h1 {
    font-size: 1.8em;
  }
  
  h2 {
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;
  }
  
  main {
    background-color: #FAEBD7;
  }

  nav {
    padding-right: 15px;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  
  nav ul {
    text-align: right;
    list-style-type: none;
    padding-left: 250px;
  }

  nav ul li a:link, a:visited {
    color: #FAEBD7;
    text-decoration: none;
  }

  nav ul li a:active {
    color: #DEB887
  }

  nav ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  
  .post-date {
    padding: 5px;
  }

  .post-content {
    margin: 10px;
  }
  
  p {
    font-family: Arial, sans-serif;
    font-size: .8em;
    font-weight: 550;
    color:	#000000;
    padding-bottom: 5px;
  }
  
}

