@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

@media only screen and (max-width: 32.5em) {
  a:link, a:visited {
    color: #FAEBD7;
    text-decoration: none;
  }

  a:active {
    color: #DEB887
  }

  a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  
  body {
    margin: 0 auto;
  }
  
  header {
    background-color: #6495ED;
    justify-content: right;
  }
  
  header h1 {
    color: #FAEBD7;
    font-size: 1.8em;
    font-family: 'Lora', serif;
  }

  header h1 a {
    color: #FAEBD7;
  }
  
  h1 {
    font-family: Century-Schoolbook;
    font-size: 1.8em;
  }
  
  h2 {
    font-size: 1.5em;
    font-family: Century-Schoolbook;
    color: #5cdb95;
  }
  
  img[data-src] {
    filter: blur(0.4em);
  }
  
  img {
    filter: blur(0em);
    transition: filter 0.5s;
  }
  
  main {
    background-color: #FAEBD7;
    margin: auto;
  }
  
  nav {
    margin: 0 auto;
  }

  nav ul {
    list-style-type: none;
  }
  
  p {
    font-family: Century-Schoolbook;
    font-size: 1em;
    color:	#5CDB95;
  }
  
}

@media only screen and (min-width: 32.5em) {
  a:link, a:visited {
    color: #FAEBD7;
    text-decoration: none;
  }

  a:active {
    color: #DEB887
  }

  a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

