a {
  color: #05386B;
  font-weight: bold;
}

body {
  max-width: 400px;
  margin: 0 auto;
  font-family: Century-Schoolbook;
  background-color: #EDF5E1;
  text-align: center;
}

[data-src] {
  min-width: 50px;
  min-height: 50px;
}

header {
  color: #5CDB95;
  align-items:center;
  justify-content: center;
  display: flex;
  padding: 5px 0;
  font-family: Century-Gothic;
}

header img {
  height: 80px;
  width: auto;
  padding-right: 10px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading h1 {
  font-size: 1.8em;
  font-family: Century-Schoolbook;
  margin-bottom: 0px;
}

h1 {
  font-family: Century-Schoolbook;
  font-size: 1.8em;
  text-shadow: 1px 1px 1px #05386b;
}

h2 {
  font-size: 1.5em;
  font-family: Century-Schoolbook;
  color: #5cdb95;
  text-shadow: 1px 1px 1px #05386b;
}

h3 {
  font-family: Century-Schoolbook;
  font-size: 1.2em;
  color: #5cdb95;
  text-shadow: .5px .5px .5px #05386b;
}

h4 {
  text-decoration: underline;
  font-family: 'Titillium Web', sans-serif;
}

main {
  margin: auto;
  max-width: 400px;
}

.motto {
  font-style: italic;
  font-size: .9em;
  letter-spacing: 1pt;
  color: #379683;
}

p {
  font-family: Century-Schoolbook;
  font-size: 1em;
  color:	#5CDB95;
}

img[data-src] {
  filter: blur(0.5em);
}

img {
  filter: blur(0em);
  transition: filter 0.5s;
  margin-top: 50px;
}

footer {
  background-color:#379683;
  color: #05386B;
  font-family: Century-Gothic;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  border-radius: 15px;
}

#copyright {
  font-family: 'Titillium Web', sans-serif;
}

#dates {
  font-size: 1.0em;
  font-family: 'Titillium Web', sans-serif;
  padding-top: 5px;
}