@media only screen and (min-width: 32.5em) {

  #announce {
    height: 25px;
  }

  #article_img {
    padding-left: 5px;
    float: right;
    width: 35%;
  }

  .contact_info {
    grid-column: 2;
    grid-row: 1;
  }

  .contactdiv {
    grid-template-columns: 1fr 1fr;
  }

  #condition1, #condition2, #condition3, #condition4, #condition5 {
    padding-bottom: 3px;
  }

  h1 {
    font-size: 2.5em;
    margin-top: 0px;
  }

  h2 {
    font-size: 1.8em;
  }

  header img {
    height: 120px;
    width: auto;
    padding-right: 10px;
  }

	.heading h1 {
		font-size: 2.5em;
	}

	.motto {
		letter-spacing: 1.5pt;
		font-size: larger;
  }

  .forecast1, .forecast2, .forecast3, .forecast4, .forecast5 {
    margin: 5px;
    border: solid thick #05386b;
    color: #05386b;
    font-family: Century-Schoolbook;
    font-weight: bold;
    padding: 5px;
    text-align: center;
  }
  
  .forecastdiv {
    display: block;
  }

  #fiveDay {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: #05386b;
  }

  footer {
    border-radius: 15px;
    height: 55px;
    max-width: 1000px;
  }

  main {
    max-width: 1000px;
  }

  #map_link {
    margin: auto;
  }

  #map {
    grid-column: 1;
    grid-row: 1;
    height: 280px;
  }

  .nav_bar {
		display: flex;
  }
  
	.nav_bar li {
		display: block; 
		flex: 1 1 auto;
  }
  
	.nav_bar a {
		text-align: center;
  }
  
	.nav_bar li:first-child {
		display: none;
  }

  .summary {
    position: absolute;
    top: 25px;
    left: 50px;
    background: radial-gradient(#eee, #EDF5E1);
    border: 1px solid #000;
    padding: 1rem;
    box-shadow: 0 0 30px #111;
    opacity: .8;
  }

  #temp1, #temp2, #temp3, #temp4, #temp5 {
    padding-bottom: 3px;
  }
  
}