a {
  color: #05386B;
  font-weight: bold;
}

body {
  margin: 0 auto;
  font-family: Century-Schoolbook;
  background-color: #EDF5E1;
}

header {
  /*background-color: black;*/
  color: #5CDB95;
  justify-content: center;
  display: flex;
  padding-bottom: 22px;
  font-family: Century-Gothic;
}

h1 {
  font-family: Century-Schoolbook;
  font-size: 1.8em;
  padding-top: 15px;
}

h2 {
  font-size: 1.5em;
  font-family: Century-Schoolbook;
}

h3 {
  padding-bottom: 8px;
  font-family: Century-Schoolbook;
  font-size: 1.2em;
}

h4 {
  text-decoration: underline;
  font-family: 'Titillium Web', sans-serif;
}

.section_head {
  text-align: center;
}

.contents{
  display: block;
  margin: 10px auto;
  border: 1px dashed black;
  padding: 15px;
  background-color: lightslategray;
  color: black;
  font-style: italic;
}

#logo {
  height: 80px;
  width: auto;
  padding-top: 15px;
}

main {
  width: 1000px;
  margin: auto;
}

#motto {
  text-align: center;
}

nav {
	margin: 0 auto;
	background-color: #5CDB95;
}

nav ul li a.active{
  background-color: #379683;
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #05386B;
	font-weight: 700;
}

.navigation a:hover {
	color: white;
	background-color: black;
}

.responsive li {
	display: block;
}

p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  font-weight: bold;
  color:	#5CDB95;
}

section {
  background-color: #4682B4;
  border-radius: 15px;
  text-align: center;
  margin: 10px;
}

footer {
  background-color:#379683;
  color: #05386B;
  font-family: Century-Gothic;
  font-size: 16px;
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  padding-top: 10px;
}

#copyright {
  font-family: 'Titillium Web', sans-serif;
}

#lastUpdate {
  font-size: 1.0em;
  font-family: 'Titillium Web', sans-serif;
  padding-top: 5px;
}