@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap");
@media only screen and (max-width: 32.5em) {
  article {
    margin: auto;
    width: 85%;
    background-color: #fff;
    -webkit-box-shadow: 2px 5px #888;
    -moz-box-shadow: 2px 5px #888;
    box-shadow: 2px 5px #888;
    text-align: left;
  }
  article img {
    margin: 10px;
    width: 85%;
  }
  article h2 a:link {
    color: #000;
    text-decoration: none;
  }
  article h2 a:visited {
    color: #000;
    text-decoration: none;
  }
  article h2 a:active {
    color: #deb887;
  }
  article h2 a:hover {
    color: #6495ed;
    text-decoration: underline;
  }
  article p a:link {
    color: #6495ed;
    text-decoration: none;
  }
  article p a:visited {
    color: #6495ed;
    text-decoration: none;
  }
  article p a:active {
    color: #deb887;
  }
  article p a:hover {
    text-decoration: underline;
  }

  body {
    background-color: #faebd7;
    margin: 0 auto;
  }

  header {
    background-color: #6495ed;
    padding-top: 15px;
  }
  header h1 {
    color: #faebd7;
    font-size: 1.8em;
    font-family: "Lora", "serif";
    float: right;
    margin: 15px;
  }
  header h1 a:link {
    color: #faebd7;
    text-decoration: none;
  }
  header h1 a:visited {
    color: #faebd7;
    text-decoration: none;
  }
  header h1 a:active {
    color: #deb887;
  }
  header h1 a:hover {
    color: #fff;
    text-decoration: underline;
  }

  hr {
    width: 80%;
  }

  h2 {
    font-size: 1.5em;
    font-family: "Helvetica", "sans-serif";
  }

  main {
    background-color: #faebd7;
  }

  nav {
    padding-right: 15px;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  nav ul {
    text-align: right;
    list-style-type: none;
    padding-left: 250px;
  }
  nav ul li a:link {
    color: #faebd7;
    text-decoration: none;
  }
  nav ul li a:visited {
    color: #faebd7;
    text-decoration: none;
  }
  nav ul li a:active {
    color: #deb887;
  }
  nav ul li a:hover {
    color: #fff;
    text-decoration: underline;
  }

  .post-date {
    padding: 5px;
  }

  .post-content {
    margin: 10px;
  }

  p {
    font-family: "Arial", "sans-serif";
    font-size: 0.8em;
    font-weight: 600;
    color: #000;
    padding-bottom: 5px;
  }
}
@media only screen and (min-width: 32.5em) {
  article {
    grid-column: 2;
    margin: 10px auto;
    width: 85%;
    background-color: #fff;
    -webkit-box-shadow: 2px 5px #888;
    -moz-box-shadow: 2px 5px #888;
    box-shadow: 2px 5px #888;
    text-align: left;
  }
  article img {
    margin: 10px;
    width: 85%;
  }
  article h2 a:link {
    color: #000;
    text-decoration: none;
  }
  article h2 a:visited {
    color: #000;
    text-decoration: none;
  }
  article h2 a:active {
    color: #deb887;
  }
  article h2 a:hover {
    color: #6495ed;
    text-decoration: underline;
  }
  article p a:link {
    color: #6495ed;
    text-decoration: none;
  }
  article p a:visited {
    color: #6495ed;
    text-decoration: none;
  }
  article p a:active {
    color: #deb887;
  }
  article p a:hover {
    text-decoration: underline;
  }

  body {
    background-color: #faebd7;
    margin: 0 auto;
  }

  div {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  header {
    background-color: #6495ed;
    padding-top: 15px;
  }
  header h1 {
    text-align: right;
    color: #faebd7;
    font-size: 2em;
    font-family: "Lora", "serif";
    margin: 25px;
  }
  header h1 a:link {
    color: #faebd7;
    text-decoration: none;
  }
  header h1 a:visited {
    color: #faebd7;
    text-decoration: none;
  }
  header h1 a:active {
    color: #deb887;
  }
  header h1 a:hover {
    color: #fff;
    text-decoration: underline;
  }

  hr {
    width: 80%;
  }

  h2 {
    font-size: 1.8em;
    font-family: "Helvetica", "sans-serif";
  }

  main {
    background-color: #faebd7;
  }

  nav {
    padding-right: 15px;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  nav ul {
    font-size: 1.5em;
    text-align: right;
    list-style-type: none;
  }
  nav ul li a:link {
    color: #faebd7;
    text-decoration: none;
  }
  nav ul li a:visited {
    color: #faebd7;
    text-decoration: none;
  }
  nav ul li a:active {
    color: #deb887;
  }
  nav ul li a:hover {
    color: #fff;
    text-decoration: underline;
  }

  .post-date {
    padding: 15px;
  }

  .post-content {
    margin: 25px;
  }

  p {
    font-family: "Arial", "sans-serif";
    font-size: 1em;
    font-weight: 600;
    color: #000;
    padding-bottom: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
