//colors
$white: #ffffff;
$color_gray_approx: #888888;
$black: #000000;
$color_gold_sand_approx: #deb887;
$cornflower_blue: #6495ed;
$color_champagne_approx: #faebd7;

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap");
@media only screen and(max-width: 32.5em) {
	article {
		margin: auto;
		width: 85%;
		background-color: $white;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 1px 1px $color_gray_approx;
		text-align: left;
		img {
			margin: 10px;
			width: 85%;
		}
		h2 a {
			&:link {
				color: $black;
				text-decoration: none;
			}
			&:active {
				color: $color_gold_sand_approx;
			}
			&:hover {
				color: $cornflower_blue;
				text-decoration: underline;
			}
		}
		p a {
			&:link {
				color: $cornflower_blue;
				text-decoration: none;
			}
			&:active {
				color: $color_gold_sand_approx;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	body {
		background-color: $color_champagne_approx;
		margin: 0 auto;
	}
	header {
		background-color: $cornflower_blue;
		padding-top: 15px;
		h1 {
			color: $color_champagne_approx;
			font-size: 1.8em;
			font-family: "Lora", "serif";
			float: right;
			margin: 15px;
			a {
				&:link {
					color: $color_champagne_approx;
					text-decoration: none;
				}
				&:active {
					color: $color_gold_sand_approx;
				}
				&:hover {
					color: $white;
					text-decoration: underline;
				}
			}
		}
	}
	hr {
		width: 80%;
	}
	h2 {
		font-size: 1.5em;
		font-family: "Helvetica", "sans-serif";
	}
	main {
		background-color: $color_champagne_approx;
	}
	nav {
		padding-right: 15px;
		padding-bottom: 5px;
		margin-bottom: 15px;
		ul {
			text-align: right;
			list-style-type: none;
			padding-left: 250px;
			li a {
				&:link {
					color: $color_champagne_approx;
					text-decoration: none;
				}
				&:active {
					color: $color_gold_sand_approx;
				}
				&:hover {
					color: $white;
					text-decoration: underline;
				}
			}
		}
	}
	.post-date {
		padding: 5px;
	}
	.post-content {
		margin: 10px;
	}
	p {
		font-family: "Arial", "sans-serif";
		font-size: .8em;
		font-weight: 600;
		color: $black;
		padding-bottom: 5px;
	}
	a:visited {
		color: $black;
		text-decoration: none;
		color: $cornflower_blue;
		text-decoration: none;
		color: $color_champagne_approx;
		text-decoration: none;
		color: $color_champagne_approx;
		text-decoration: none;
	}
}
@media only screen and(min-width: 32.5em) {
	article {
		grid-column: 2;
		margin: 10px auto;
		width: 85%;
		background-color: $white;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 1px 1px $color_gray_approx;
		text-align: left;
		img {
			margin: 10px;
			width: 85%;
		}
		h2 a {
			&:link {
				color: $black;
				text-decoration: none;
			}
			&:active {
				color: $color_gold_sand_approx;
			}
			&:hover {
				color: $cornflower_blue;
				text-decoration: underline;
			}
		}
		p a {
			&:link {
				color: $cornflower_blue;
				text-decoration: none;
			}
			&:active {
				color: $color_gold_sand_approx;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	body {
		background-color: $color_champagne_approx;
		margin: 0 auto;
	}
	div {
		display: grid;
		grid-template-columns: 30% 70%;
	}
	header {
		background-color: $cornflower_blue;
		padding-top: 15px;
		h1 {
			text-align: right;
			color: $color_champagne_approx;
			font-size: 2em;
			font-family: "Lora", "serif";
			margin: 25px;
			a {
				&:link {
					color: $color_champagne_approx;
					text-decoration: none;
				}
				&:active {
					color: $color_gold_sand_approx;
				}
				&:hover {
					color: $white;
					text-decoration: underline;
				}
			}
		}
	}
	hr {
		width: 80%;
	}
	h2 {
		font-size: 1.8em;
		font-family: "Helvetica", "sans-serif";
	}
	main {
		background-color: $color_champagne_approx;
	}
	nav {
		padding-right: 15px;
		padding-bottom: 5px;
		margin-bottom: 15px;
		ul {
			font-size: 1.5em;
			text-align: right;
			list-style-type: none;
			li a {
				&:link {
					color: $color_champagne_approx;
					text-decoration: none;
				}
				&:active {
					color: $color_gold_sand_approx;
				}
				&:hover {
					color: $white;
					text-decoration: underline;
				}
			}
		}
	}
	.post-date {
		padding: 15px;
	}
	.post-content {
		margin: 25px;
	}
	p {
		font-family: "Arial", "sans-serif";
		font-size: 1em;
		font-weight: 600;
		color: $black;
		padding-bottom: 10px;
	}
	a:visited {
		color: $black;
		text-decoration: none;
		color: $cornflower_blue;
		text-decoration: none;
		color: $color_champagne_approx;
		text-decoration: none;
		color: $color_champagne_approx;
		text-decoration: none;
	}
}

