
body {
  margin: 0 auto;
  background-color: #FFFFFF;
}

caption {
  background-color: #7fb9c2;
  font-size: 1.5em;
  font-weight: bold;
  padding: 8px;
  box-shadow: 10px 10px 15px #5e9097;  
}

header {
  align-items:center;
  justify-content: center;
  display: flex;
  padding: 5px 0;
}

h1 {
  font-family: Ubuntu, sans-serif;
  font-size: 1.8em;
  text-shadow: 1px 1px 1px #05386b;
}

tfoot tr td {
  background-color: #7fb9c2;
  text-align: center;
  font-size: .8em;
  padding: 5px;
}

th {
  background-color: #7fb9c2;
  color: #000000;
  padding: 5px;
}

td {
  border: solid 2px #cdcdcd;
  padding: 5px;
}

#Sales {
  font-family: Ubuntu, sans-serif;
  margin: 0 auto;
  text-align: center;
}


