a {
  color: #FFFF66;
  font-weight: bold;
}

header {
  background-color: #1E90FF;
  color: black;
  justify-content: space-between;
  border-radius: 15px;
}

h1 {
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 2.5em;
  padding-top: 15px;
  text-align: center;
}

h2 {
  font-size: 1.3em;
  font-family: 'Baloo Bhaina 2', cursive;
}

h3{
  padding-bottom: 8px;
}

img {
  margin-top: 8px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  margin:auto;
}

p {
  font-size: 1em;
  font-weight: bold;
  color:	#FFFF66;
}

section {
  background-color: #4682B4;
  border-radius: 15px;
  text-align: center;
  margin: 10px;
}

footer {
  background-color: #1E90FF;
  color: black;
  font-size: 1em;
  text-align: center;
  padding-top: 25px;
}

#copyright {
  font-family: 'Baloo Bhaina 2', cursive;
}

#lastUpdate {
  font-size: 1.0em;
  font-family: 'Baloo Bhaina 2', cursive;
  padding-top: 5px;
}