a {
  color: blue;
  font-weight: bold;
}

body {
  margin: 0 auto;
  font-family: 'Baloo Bhaina 2', cursive;
  background-color: darkgray;
}

header {
  background-color: black;
  color: whitesmoke;
  justify-content: space-between;
  border-radius: 15px;
}

h1 {
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 2.5em;
  padding-top: 15px;
  text-align: center;
}

h2 {
  font-size: 1.3em;
  font-family: 'Baloo Bhaina 2', cursive;
}

h3 {
  padding-bottom: 8px;
}

h4 {text-decoration: underline;
}

#logo {
  height: 180px;
  width: auto;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  margin:auto;
}

nav {
  width: 100%;
  margin: 0 auto;
  background-color: lightslategray;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}

p {
  font-size: 1em;
  font-weight: bold;
  color:	black;
}

section {
  background-color: #4682B4;
  border-radius: 15px;
  text-align: center;
  margin: 10px;
}

table, th, td {
  width: 100%;
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
}

footer {
  background-color: black;
  color: whitesmoke;
  font-size: 1em;
  text-align: center;
  padding-top: 25px;
}

#copyright {
  font-family: 'Baloo Bhaina 2', cursive;
}

#lastUpdate {
  font-size: 1.0em;
  font-family: 'Baloo Bhaina 2', cursive;
  padding-top: 5px;
}